.sort {
	display: flex;
	flex-wrap: wrap;
	margin: 35px 0;
	
	&__age,
	&__price {
		margin-right: 50px;

		@include md {
			margin-right: 0;
			min-width: calc(50%);
		}
	}

	&__title {
		margin-right: 50px;
		font-weight: bold;
		@include md {
			min-width: 100%;
			margin-bottom: 10px;
		}
	}

	&__btn {
		background: none;
		border: none;
		font-size: 18px;
		font-weight: normal;
		position: relative;
		padding-right: 30px;

		&::before {
			content: '';
			position: absolute;
			top: 3px;
			right: 0;
			width: 15px;
			height: 15px;
			background: url('../img/arrow-down.svg') center center no-repeat;
			transition: all .3s;
		}

		&.rotate {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
}