$white: #fff;
$light: #F3F3F3;
$blue: #6EBBD3;
$blue-hover: #4eb1cf;
$blue-active: rgb(157, 211, 228);

$black: #000000;
$black-hover: rgb(32, 32, 32);
$black-active: rgb(45, 45, 45);

$gray: #CACACA;

$red: #E52D2D;

$br: 10px;